# Скомпилированные бинарные файлы (тяжёлые исполняемые файлы)
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin
main

# Временные файлы тестов и профилирования CPU/памяти
*.test
*.out
*.prof
cpu.pprof
mem.pprof

# Скрытые файлы настроек VS Code и операционных систем
.vscode/
.idea/
.DS_Store
Thumbs.db

# Локальные файлы данных и секреты (чтобы случайно не слить пароли)
*.json
*.env
*.log
